/* Background and overall styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.calculator-container {
    text-align: center;
}

.calculator-title {
    font-size: 2em;
    color: #34495e;
    margin-bottom: 20px;
}

/* Calculator styling */
.calculator {
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 6px 6px 12px #c1c3c7, -6px -6px 12px #ffffff;
}

#display {
    background-color: #333;
    color: #f0f0f0;
    text-align: right;
    padding: 20px;
    font-size: 2.5em;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f0f2f5;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    background-color: #ecf0f1;
    color: #2f3542;
    transition: background 0.2s, color 0.2s;
}

button:hover {
    background-color: #dcdde1;
    color: #2f3640;
}

button:nth-child(4n) {
    background-color: #f39c12;
    color: white;
}

button:nth-child(4n):hover {
    background-color: #e67e22;
}
